{% extends "website/eel_default.html" %} 
{% load i18n %}

{% block page_main_title %}Reset password{% endblock %}
{% block page_title %}Reset password{% endblock %}

{% block head_extra %}
{{ block.super }}
<style type="text/css">
	form label {
		display: 	block;
	}
	form input {
		display: 	block;
	}
</style>
{% endblock %}

{% block page_content %}
	<p>Just type your email address below to retrieve your password.</p>
	<form method="post" action="" id="reminder-form" class="fms m2 django-form">
		{% if form.non_field_errors %}
			<ul class="errorlist">
				{% for error in form.non_field_errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<fieldset class="i1 m2">
            <legend>Your Details</legend>            
            <ol>
            	<li>
					{{ form.login_name.errors }}
					<label for="id_login_name" >Email address</label>
					{{ form.login_name }}
				</li>
			</ol>
		</fieldset>
		<input type="submit" value="Reset password" name="reset password" />
	</form>
{% endblock %}