{% extends "website/eel_default.html" %} 
{% load i18n %}

{% block page_main_title %}Terms and Conditions{% endblock %}
{% block page_title %}Terms and Conditions{% endblock %}

{% block page_content %}
	<h2>Terms of Contributions to Early English Laws (EEL)</h2>
	<div class="unorderedList">
		<ol class="terms-contributions">
			<li>By sharing any contribution (including any text, photographs, graphics, video or audio) with EEL you agree to grant to EEL, free 
			of charge, permission to use the material in any way it wants (including modifying and adapting it for operational and editorial reasons).</li>
			
			<li>All contributors must assume responsibility for any copyright issues arising from the material they are submitting 
			(i.e. you must have permission to copy from any living author, or author who is still within copyright after his/her death. 
			Permission must be granted for any images uploaded to the site.)</li>
			
			<li>In order that EEL can use your contribution, you confirm that your contribution is your own original work, is not defamatory and does 
			not infringe any UK laws, that you have the right to give EEL permission to use it for the purposes specified above.</li>
			
			<li>We normally show your name with your contribution, unless you request otherwise, but for operational reasons this is not always possible. 
			EEL may need to contact you for administrative or verification purposes in relation to your contribution, or in relation to particular projects.</li>
			
			<li>EEL reserves the right to reject material should we deem it to be unsuitable for our purposes.</li>
			
			<li>If you do not want to grant EEL the permission set out above on these terms, 
			please do not submit or share your contribution to or with EEL.</li>
		</ol>
	</div>	
{% endblock %}
