{% extends "website/eel_default.html" %} 
{% load i18n %} 
{% load tags_filters %}
{% load tags_editions %}

{% block head_title_block %}500 - Server error{% endblock %}
{% block body_title_block %}500 - Server error{% endblock %} 

{% block page_content %}
<p>
An internal error occurred in our web server while trying to serve the requested page. 
</p>
<p>
We do apologise for the inconvenience. This issue has been logged and will be fixed shortly. 
</p>
<p>
Please visit this page again later.
</p>	
{% endblock %}
