.defaultSkin .autocomp-model, .autocomp-model {
	float: left;
	background:white none no-repeat scroll 0 0;
	border: 1px solid gray;
	margin-right: 3px;
}
.defaultSkin .autocomp-querydiv, .autocomp-querydiv {
	display:inline;
	float:left;
	border:1px solid gray;
	background-color: white;
	margin-right: 3px;
	padding: 0px;
}
.defaultSkin .autocomp-query, .autocomp-query {
	width: 150px;
	background-color: white;
	/* border: 1px solid gray; */
	border: 0px;
	padding: 1px;
}
.defaultSkin .autocomp-result, .autocomp-result {
	position: absolute;
	z-index: 101;
	display: none;
	max-width:600px;
	min-width: 140px;
	background-color: white;
	border: 1px solid gray;
}
.ac-foreignkey .autocomp-querydiv {
	border: 1px solid #CCCCCC;
}
.ac-foreignkey .autocomp-query {
	width: 400px;
	border: 0px;
	padding: 1px;
}
.ac-foreignkey .autocomp-focus {
	border-color: red;
}
.ac-foreignkey .autocomp-changed {
	color: firebrick;
}
.ac-foreignkey .autocomp-result {
	max-width:800px;
}

.ac-foreignkey .autocomp-imgquery, .defaultSkin .autocomp-imgquery, .autocomp-imgquery {
	/* padding: 1px; */
	margin: 1px;
	width: 16px;
	height: 16px;
	float: left;
	/* vertical-align: middle; */
	background:#ffffff url('../img/magnifier16.png') no-repeat top right;
}

